

<div class="grid">
      <div style="text-align: center; width: 100%; display:flex; align-items: center; justify-content:center; height: 20px;">Mes équipements</div>

    <!-- washing #1 -->
  <div class="item"> 
      <div class="image">
        <img src="assets/washing.png" alt="" />
      </div>
   
      <div class="description">
        <span>Machines a laver</span>
      </div>
   
      <div class="quantity">
        <button class="plus-btn" type="button" name="button">
          <img src="assets/plus.png" alt="" />
        </button>
        <input type="text" name="name" value="1">
        <button class="minus-btn" type="button" name="button">
          <img src="assets/minus.png" alt="" />
        </button>
      </div>
    </div>

      <!-- shower #1 -->
    <div class="item">
        <div class="buttons">
          <span class="delete-btn"></span>
        </div>
     
        <div class="image">
          <img src="assets/shower.png" alt="" />
        </div>
     
        <div class="description">
          <span>Douches</span>
        </div>
     
        <div class="quantity">
          <button class="plus-btn" type="button" name="button">
            <img src="assets/plus.png" alt="" />
          </button>
          <input type="text" name="name" value="1">
          <button class="minus-btn" type="button" name="button">
            <img src="assets/minus.png" alt="" />
          </button>
        </div>
      </div>


            <!-- pool #1 -->
    <div class="item">
        <div class="buttons">
          <span class="delete-btn"></span>
        </div>
     
        <div class="image">
          <img src="assets/pool.png" alt="" />
        </div>
     
        <div class="description">
          <span>Piscine</span>
        </div>
     
        <div class="quantity">
          <button class="plus-btn" type="button" name="button">
            <img src="assets/plus.png" alt="" />
          </button>
          <input type="text" name="name" value="1">
          <button class="minus-btn" type="button" name="button">
            <img src="assets/minus.png" alt="" />
          </button>
        </div>
      </div>


            <!-- garden #1 -->
    <div class="item">
        <div class="buttons">
          <span class="delete-btn"></span>
        </div>
     
        <div class="image">
          <img src="assets/garden.png" alt="" />
        </div>
     
        <div class="description">
          <span>Espaces verts</span>
        </div>
     
        <div class="quantity">
          <button class="plus-btn" type="button" name="button">
            <img src="assets/plus.png" alt="" />
          </button>
          <input type="text" name="name" value="1">
          <button class="minus-btn" type="button" name="button">
            <img src="assets/minus.png" alt="" />
          </button>
        </div>
      </div>

      <!-- toilet #1 -->
      <div class="item">
          <div class="buttons">
            <span class="delete-btn"></span>
          </div>
       
          <div class="image">
            <img src="assets/toilet.png" alt="" />
          </div>
       
          <div class="description">
            <span>WC</span>
          </div>
       
          <div class="quantity">
            <button class="plus-btn" type="button" name="button">
              <img src="assets/plus.png" alt="" />
            </button>
            <input type="text" name="name" value="1">
            <button class="minus-btn" type="button" name="button">
              <img src="assets/minus.png" alt="" />
            </button>
          </div>
        </div>

              <!-- leak #1 -->
      <div class="item">
          <div class="buttons">
            <span class="delete-btn"></span>
          </div>
       
          <div class="image">
            <img src="assets/leak.png" alt="" />
          </div>
       
          <div class="description">
            <span>Fuites</span>
          </div>
       
          <div class="quantity">
            <button class="plus-btn" type="button" name="button">
              <img src="assets/plus.png" alt="" />
            </button>
            <input type="text" name="name" value="1">
            <button class="minus-btn" type="button" name="button">
              <img src="assets/minus.png" alt="" />
            </button>
          </div>
        </div>
      </div>