html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #7EC855;
}

img {
    width: 48px;
    height: 48px;
}

.grid {
    width: 750px;
    height: 423px;
    margin: 80px auto;
    background: #FFFFFF;
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
    border-radius: 6px;
   
    display: flex;
    flex-direction: column;
}


.item {
    padding: 20px 30px;
    height: 120px;
    display: flex;
  }

.item:nth-child(3) {
    border-top:  1px solid #E1E8EE;
    border-bottom:  1px solid #E1E8EE;
}

  .image {
    margin-right: 50px;
  }
   
  .description {
    padding-top: 0px;
    margin-right: 60px;
  }
   
  .description span {
    display: block;
    font-size: 14px;
    color: #43484D;
    font-weight: 400;
  }
   
  .description span:first-child {
    margin-bottom: 5px;
    width: 200px;
  }

  .description span:last-child {
    font-weight: 300;
    margin-top: 8px;
    color: #86939E;
  }

  .quantity {
    padding-top: 5px;
    margin-left: 60px;
    align-items: center;
  }

  .quantity input {
    -webkit-appearance: none;
    border: none;
    text-align: center;
    width: 32px;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
  }
  .minus-btn img {
    width: 25px;
    height: 25px;
  }
  .plus-btn img {
    width: 25px;
    height: 25px;
  }
   
  button:focus,
  input:focus {
    outline:0;
  }