<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="header">
    <span>Make IT Blue</span>   
    <div class="menu">
        <a [routerLink]="'/home'" [ngClass]="getClass('home')">Home</a>
        <a [routerLink]="'/profile'" [ngClass]="getClass('profile')">Profile</a>
        <a [routerLink]="'/status'" [ngClass]="getClass('status')">Status</a>
      </div> 
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<div class="content">
  <router-outlet></router-outlet>
</div>
