<!-- <div class="form">
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput type="number"placeholder="Bungalows" value="0" />
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput type="number"placeholder="Caravanes" value="0" />
      </mat-form-field>
      <mat-form-field class="example-full-width">
          <input matInput type="number"placeholder="Tentes" value="0" />
      </mat-form-field>
  </form>
</div> -->

<div class="grid">
    <div class="left-column">
        <div style="text-align: center; width: 100%; display:flex; align-items: center; justify-content:center; height: 48px;">Mes équipements</div>
        <div class="left-grid">
            <div><img src='assets/washing.png' /></div>
            <div><img src='assets/shower.png' /></div>
            <div><img src='assets/pool.png' /></div>
            <div><img src='assets/garden.png' /></div>
            <div><img src='assets/toilet.png' /></div>
            <div><img src='assets/leak.png' /></div>
        </div>
    </div>
    <div class="right-column">
        <div class="right-header">
            <div>
                Nuitées: {{nights}}
            </div>
            <div>
                <mat-slider min="0" max="12" step="1" value="{{currentMonth}}" style="width:365px" [disabled]="true"></mat-slider>
                <div style="width:365px; display:flex; justify-content: space-between;top: -25px;
                font-size: 10px;
                color: lightgray;
                position: relative;">
                    <div>Jan</div>
                    <div>Dec</div>
                </div>
            </div>
       </div>
       <div style="text-align: center">           
           <div style="margin-bottom: 6px">Consommation totale au 6 Septembre 2018</div>
           <div style="height: 80px; width: calc(80%);border: 1px solid lightgray; border-radius: 3px; margin: 8px auto; position: relative">
                <div [style.left.%]="limitConsumption" style="position: absolute; height: 86px; top:-3px; width: 3px; background-color: #821917"></div>
                <div [style.width.%]="consumption" style="background-color: #0177a4; position: relative; height: 100%"></div>
            </div>
       </div>
       
        <div style="text-align: center">
            <div style="margin-bottom: 6px">Consommation previsionnelle annuelle</div>
            <div style="height: 80px; width: calc(80%);border: 1px solid lightgray; border-radius: 3px; margin: 8px auto; position:relative">
                <div [style.left.%]="limitConsumption" style="z-index: 1; position: absolute; height: 86px; top:-3px; width: 3px; background-color: #821917"></div>
                <div class="gauge" [style.width.%]="annualConsumption" [style.background-color]="getBackgroundColor()" style="position: relative; height: 100%"></div>
            </div>
            <div class="actions">
                <mat-checkbox *ngFor="let action of actionsOnConsumption" (change)="checked($event, action.ratio)">{{action.label}}</mat-checkbox>
            </div>
        </div>        
    </div>
</div>