.grid {
    display: grid;
    grid-column: 2;
    grid-template-columns: 25% 75%;
    grid-column-gap: 8px;
    height: 100%;
    width: calc(100% - 8px);
}

img {
    width: 48px;
    height: 48px;
}

.left-column {
    border: 1px solid lightgray;
    border-radius: 3px;
    .left-grid {
        align-items: center;
        justify-items: center;
        display: grid;
        grid-column: 2;
        grid-row: 3;
        grid-template-rows: auto auto auto;
        grid-template-columns: auto auto;
        height: calc(100% - 48px);
    }
}

.right-column {
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right-header {
    height: 48px;
    width: calc(100%);
    margin: 0px 8px;
    margin-bottom: 32px;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
}

.actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
}

.predict {
    display: grid;
    grid-column: 2;
    grid-template-columns: auto auto;
    grid-column-gap: 8px;
    align-items: center;
}

mat-checkbox {
    margin: 0px 8px;
}

.gauge {
    transition: width 0.5s ease;
}