/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: 500;
    font-stretch: normal;
    font-size: 20px;
    line-height: 32px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #fafafa;
    
}

a{
    text-decoration: none;
    color: white;
    margin: 0px 6px;
}

.header{
    justify-content: space-between;
    display: flex;
    width: 100%;
    
}

.content{
    position: absolute;
    width: calc(100% - 16px);
    height: calc(100% - 80px);
    margin: 8px;
}

agm-map{
    height: 100%;
}